* {
  /* font-size: 100%; */
  /* font-family: 'Poppins','sans-serif'; */
  font-family: 'Helvetica Neue','Helvetica','Arial','sans-serif'; 
}
body{
  background-color: #d3d3d3 !important;
}
.container-fluid{
  /* max-width: 1260px; */
  margin-left: auto;
  margin-right: auto;
}
.container{
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
}

.channels {
  list-style-type: none;
  margin:0;
  padding: 0;
}

.intro {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;

}
.intro h1{
  font-style: initial; 
  text-align: center;  
  /* text-decoration: underline; */
}
.intro p{
  font-style: initial; 
  text-align: center;  
  /* text-decoration: underline; */
  padding: 0px;
}
.border-bottom{
  border-bottom: 2px solid #000000!important;
}
.profile{
  /* padding-top: 1.5rem; */
  /* padding-bottom: 3rem; */
  margin-bottom: 1.5rem;
}
.profile h1{
  padding-bottom: 25px;
}
.image{
  transition: .5s ease;
}
.image-middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  
}
.image-text{
  color: white;
  font-size: 20px;
  /* padding: 16px 32px; */
}
.image-hover:hover img {
  opacity: 0.75;
  height: 300px;
}
.image-hover:hover .image-middle {
  opacity: 1;
}
.image-text:hover{
  font-size: 20px;
  color: black;
}

/* footer css */
footer {
  display: block;
  background-color: white !important;
  color: black;
  min-height: 50px;
  padding: 20px 0;
}
footer a {
  color: black;
  font-size: 18px;
  font-weight: 100;
}
footer a:hover {
  color: #6b6b6b;
}
.home_info li{
  display: block;
  padding: 10px 0px
}
.home_info a{
  color: black;
}
.home_info a:hover {
  color: #6b6b6b;
  text-decoration: underline;
}

/* .custom-toggler.navbar-toggler {
  border-color:white;
} */
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Navbar styling */
.navbar-expand-lg {
  background-color: white !important;
}
.navbar-expand-lg .container {
  color: black;
  /* overflow: hidden; */
  /* margin: 0px 5%; */
  max-width: 1260px;
  margin-left: auto ;
  margin-right: auto;
}
.navbar-expand-lg li {
  padding: 0px 0.3rem;
}
.navbar-expand-lg a {

  color: black;
  font-size: 1rem;
  font-weight: 100;
  padding:  0.5rem  0.5rem;
}
.navbar-expand-lg a:hover {
  color: #6b6b6b;
  text-decoration: underline;
}

/* Style all font awesome icons */
.fa {
  /* padding: 0px 5px; */
  font-size: 100px;
  text-align: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
  color: rgb(100, 100, 100);
}

.card {
  margin-bottom: 20px;
  border: none;
}
.card-body{
  text-align: left;
  /* letter-spacing: 0.2em; */
  line-height: 1.5em;
  margin: auto;
  /* background-color: #6b6b6b; */
}
.card img{
  display: block;
  border: none;
  width: 100%;
  height: auto;

  
}
.card iframe{
  display: block;
  border: none;
  width: 100%;
  height: 500px;
}
/* .card img:hover{
  opacity: 70%;
} */

.sidebar {
  height: 700px;
  width: 0;
  position: absolute;
  z-index: 1;
  /* top: 0; */
  left: 0;
  background-color:rgba(156, 156, 156, 0.425);
  overflow-x: hidden;
  transition: 0.2s;
  padding-top: 60px;
}

.sidebar a {
  padding: 4px 4px 4px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  transition: 0.2s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 26px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  position: absolute;
  z-index: 1;
}

.openbtn:hover {
  background-color: #444;
}

#menu {
  background: #fff;
  position: absolute;
  z-index: 0;
  top: 10px;
  left: 190px;
  border-radius: 3px;
  width: 120px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-family: 'Open Sans', sans-serif;
}

#menu a {
  font-size: 13px;
  color: #404040;
  display: block;
  margin: 0;
  padding: 0;
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  text-align: center;
}

#menu a:last-child {
  border: none;
}

#menu a:hover {
  background-color: #f8f8f8;
  color: #404040;
}

#menu a.active {
  background-color: #3887be;
  color: #ffffff;
}

#menu a.active:hover {
  background: #3074a4;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 3px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 80%; 
  background:  #4bd863;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

/* toggle button */
.toggle {
  position: absolute;
  /* top: 50%;
  left: ; */
  width: 40px;
  height: 20px;
  border-radius: 50px;
  background-color: #ddd;
  /* margin: -20px -40px; */
  style = "margin-right: 20px;"
  overflow: hidden;
  box-shadow: inset 0 0 2px 1px rgba(0,0,0,.05);
}

.check {
  position: absolute;
  /* display: block; */
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 6;
}

.check:checked ~ .track {
  box-shadow: inset 0 0 0 20px #4bd863;
}

.check:checked ~ .switch {
  right: 2px;
  left: 22px;
  transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  transition-property: left, right;
  transition-delay: .05s, 0s;
}

.switch {
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 2px;
  right: 22px;
  background-color: #fff;
  border-radius: 36px;
  z-index: 1;
  transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  transition-property: left, right;
  transition-delay: 0s, .05s;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.track {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  box-shadow: inset 0 0 0 2px rgba(0,0,0,.05);
  border-radius: 40px;
}
.filter-box {
  margin: 10px 0px;
  border-radius: 5px;
}
.filter-content{
  padding: 10px 10px;
}



@media only screen and (max-width: 425px){

#map{
  height: 500px!important;
}
.sidebar {
  height: 500px;

}
body{
  font-size: 0.75rem !important;
}


}