* {
  font-size: 100%;
  font-family: 'Poppins','sans-serif';
}
body{
  background-color: #d3d3d3 !important;
}
.container-fluid{
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
}
.channels {
  list-style-type: none;
  margin:0;
  padding: 0;
}

.intro {
  padding: 15px  0;
  margin: 0 auto;
}
.intro h1{
  font-style: initial; 
  text-align: center;  
  /* text-decoration: underline; */
  padding: 0px;
}
.intro p{
  font-style: initial; 
  text-align: center;  
  /* text-decoration: underline; */
  padding: 0px;
}

h1 {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 100%;
  font-family: 'Poppins';
}
/* footer css */
footer {
  display: block;
  background-color: white !important;
  text-align: center;
  color: black;
  margin-bottom: -15px;
}
footer a {
  color: black;
  font-size: 18px;
  font-weight: 100;
}
footer a:hover {
  color: #6b6b6b;
}

/* .custom-toggler.navbar-toggler {
  border-color:white;
} */
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Navbar styling */
/* .navbar-masthead {
  display: block;
  min-height: 30px;
  overflow: hidden;
  position: relative;
} */

.navbar-expand-lg {
  background-color: white !important;
}
.navbar-expand-lg .container {
  color: black;
  /* overflow: hidden; */
  /* margin: 0px 5%; */
  max-width: 1260px;
  margin-left: auto ;
  margin-right: auto;
  
}
.navbar-expand-lg li {
  padding: 0px 10px;
}
.navbar-expand-lg a {

  color: black;
  font-size: 18px;
  font-weight: 100;
  padding:  10px 20px;
}
.navbar-expand-lg a:hover {
  color: #6b6b6b;
  text-decoration: underline;
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 100px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
  color: rgb(100, 100, 100);
}

.card {
  /* margin: 10px 5px; */
  margin-bottom: 20px;
  /* width: 100%; */
  /* height: auto; */
  border: none;
  /* background-color: #6b6b6b; */
}
.card-body{
  text-align: left;
  letter-spacing: 0.2em;
  line-height: 1.5em;
  /* background-color: #6b6b6b; */
}
.card img{
  display: block;
  border: none;
  width: 100%;
  height: auto;
}
.card iframe{
  display: block;
  border: none;
  width: 100%;
  height: 500px;
}
/* .card img:hover{
  opacity: 70%;
} */