<div id="map-filter-content" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <ul class="list-group">
    <div class='row'>
      <li class="list-item">
        <div class="form-check">
          <div class="toggle">
            <input type="checkbox" class="check" id="ozone-layer">
            <b class="b switch"></b>
            <b class="b track"></b>
          </div>
          <label for="ozone-layer" style="margin-left: 45px;"><strong>Opportunity Zone Layer</strong></label>
        </div>
      </li>
    </div>
    <div class='row'>
      <li class="list-item">
        <div class="form-check">
          <div class="toggle">
            <input type="checkbox" class="check" id="lot-layer">
            <b class="b switch"></b>
            <b class="b track"></b>
          </div>
          <label for="lot-layer" style="margin-left: 45px;"><strong>Lot Parcel Layer</strong></label>
        </div>
      </li>
    </div>
    <li class="list-item">
      <label for="filter">Zones</label>
      <fieldset class="form-group">
        <div class="row">
          <div class="form-check-inline" id="filter">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="allcheck" value="all" checked>
              <label class="form-check-label" for="allcheck">All</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="ozcheck" value="oz">
              <label class="form-check-label" for="ozcheck">Opportunity Zone</label>
            </div>
          </div>
        </div>
      </fieldset>

    </li>
    <li class="list-item" id="toggle-group">
      <div class="row">
        <div class="form-check-inline">
          <div class="form-check">
            <div class="toggle">
              <input type="checkbox" class="check" id="resid" checked>
              <b class="b switch"></b>
              <b class="b track"></b>
            </div>
            <label for="resid" style="margin-left: 45px;">Residential</label>
          </div>
          <div class="form-check">
            <div class="toggle">
              <input type="checkbox" class="check" id="resid" checked>
              <b class="b switch"></b>
              <b class="b track"></b>
            </div>
            <label for="resid" style="margin-left: 45px;">Commercial</label>
          </div>
        </div>
      </div>

    </li>
    <li class="list-item" id="toggle-group">
      <div class="row">
        <div class="form-check-inline">
          <div class="form-check">
            <div class="toggle">
              <input type="checkbox" class="check" id="fix-use" checked>
              <b class="b switch"></b>
              <b class="b track"></b>
            </div>
            <label for="fix-use" style="margin-left: 45px;">Fixed Use</label>
          </div>
          <div class="form-check">
            <div class="toggle">
              <input type="checkbox" class="check" id="open-land" checked>
              <b class="b switch"></b>
              <b class="b track"></b>
            </div>
            <label for="open-land" style="margin-left: 45px;">Open Space/Parking</label>
          </div>
        </div>
      </div>
    </li>
    <li class="list-item" id="toggle-group">
      <div class="row">
        <div class="form-check-inline">
          <div class="form-check">
            <div class="toggle">
              <input type="checkbox" class="check" id="vacant" checked>
              <b class="b switch"></b>
              <b class="b track"></b>
            </div>
            <label for="vacant" style="margin-left: 45px;">Vacant Land</label>
          </div>
          <div class="form-check">
            <div class="toggle">
              <input type="checkbox" class="check" id="others" checked>
              <b class="b switch"></b>
              <b class="b track"></b>
            </div>
            <label for="others" style="margin-left: 45px;">Others</label>
          </div>
        </div>
      </div>
    </li>
    <li class="list-item">
      <label for="yearbuilt">Years Built</label>
      <span id='yearbuilt-f'>2020</span>
      <div class="slidecontainer">
        <input type="range" min="1900" max="2040" value="2020" step="1" class="slider" id="yearbuilt"
          onchange=updateText(this.id,this.value)>
      </div>
    </li>
    <li class="list-item">
      <label for="lotfront">Lot Frontage</label>
      <span id='lotfront-f'>0</span>
      <div class="slidecontainer">
        <input type="range" min="0" max="500" value="0" step="25" class="slider" id="lotfront"
          onchange=updateText(this.id,this.value)>
      </div>
    </li>
    <div class='row'>
      <li class="list-item">
        <div class="form-check">
          <div class="toggle">
            <input type="checkbox" class="check" id="far-layer">
            <b class="b switch"></b>
            <b class="b track"></b>
          </div>
          <label for="far-layer" style="margin-left: 45px;"><strong>FAR Layer</strong></label>
        </div>
      </li>
    </div>
    <div class='row'>
      <li class="list-item">
        <div class="form-check">
          <div class="toggle">
            <input type="checkbox" class="check" id="deed-layer">
            <b class="b switch"></b>
            <b class="b track"></b>
          </div>
          <label for="deed-layer" style="margin-left: 45px;"><strong>Deed Layer</strong></label>
        </div>
      </li>
    </div>
  </ul>
</div>

<div id="envelope-content" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <ul class="list-group">
    <li class="list-item">
      <label for="height">Propose Height</label>
      <span id='height-f'>20</span>
      <div class="slidecontainer">
        <input type="range" min="0" max="500" value="200" step="25" class="slider" id="height"
          onchange=updateText(this.id,this.value)>
      </div>
    </li>
  </ul>
</div>







<script>
  function updateText(id, val) {
    var id_value = document.getElementById(id);
    var id_text = id + '-f';
    document.getElementById(id_text).innerHTML = val;
    document.getElementById(id).oninput = function () {
      document.getElementById(id_text).innerHTML = this.value;
    };

  }
</script>