<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Adrian Kay</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/template.css') }}">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    </head>
    <body>
        <!-- Nav Bar -->
        <nav>
            <ul class="topnav">
                <li><a href="/">About Me</a></li>
                <li><a href="projects">Projects</a></li>
            </ul> 
        </nav>
        <!-- Adrian Kay -->
        <div class = "row">
            <div class = "col-sm-12">
                <h1> Adrian Kay </h1>
            </div>
            
        </div>
        
        <div class = "row">
                <div class = "col-sm-5">  
                    <img class = "img-thumbnail" src="{{ url_for('static', filename='photos/Adrian Kay(1).jpg') }}" alt="Adrian Kay's Photo">
                </div>
                <div class = "col-sm-7">
                    <p>asdasd</p> 
                </div>
            </div>    

        
    </body>
</html>