<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Adrian Kay</title>
        <link rel="icon" href="{{ url_for('static', filename='photos/begu.png') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/template.css') }}">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    </head>
    <body>
        <!-- Nav Bar -->
        <nav>
            <ul class="topnav">
                <li><a href="/">About Me</a></li>
                <li><a href="projects">Projects</a></li>
                <li><a href = "contact">Contact Me</a></li>
            </ul> 
        </nav>
        <!-- Adrian Kay -->
        <div class = "row">
            <div class = "col-sm-12">
                <h1>Adrian Kay</h1>
                <h4>Data Scientist • NYC Real Estate Acquisition Analyst </h4>
                <h4> NYC Data Scientist Academy Alumnus • Former Arup Engineer • University College London (UCL) Graduated</h4>
            </div>
            
        </div>
        
        <div class = "row">
                <div class = "col-sm-5">  
                    <img class = "img-thumbnail" src="{{ url_for('static', filename='photos/Adrian Kay(1).jpg') }}" alt="Adrian Kay's Photo">
                </div>
                <div class = "col-sm-7">
                    <p>asdasd</p> 
                </div>
        </div>

        <div class="timeline">
            <div class="container left">
              <div class="content">
                <h2>2017</h2>
                <p>Lorem ipsum..</p>
              </div>
            </div>
            <div class="container right">
              <div class="content">
                <h2>2016</h2>
                <p>Lorem ipsum..</p>
              </div>
            </div>
          </div>

        
    </body>
</html>