<footer>
    <div class = "container">
        <ul class = "list-inline">
            <li class="list-inline-item">
                <a href = "https://www.linkedin.com/in/adrian-kay/" class = "fa fa-linkedin fa-lg" target= "_blank"></a>
                    <a  href = "https://www.linkedin.com/in/adrian-kay/" target= "_blank">LinkedIn</a>
                </li>
            <li class="list-inline-item"><a href = "https://github.com/akay126" class = "fa fa-github fa-lg" target= "_blank">
                <a href = "https://github.com/akay126/" target= "_blank">GitHub</a>
            </a></li>
            <li class="list-inline-item"><a href = "/" class = "fa fa-envelope fa-lg" target= "_blank"></a>Email</liclass="list-inline-item">
            <li class="list-inline-item"><a href = "/" class = "fa fa-instagram fa-lg" target= "_blank"></a>Instagram</liclass="list-inline-item">
        </ul>
    </div>
</footer>
<!-- 
<footer>
    <div class = "channels">
        <div class = "channel">
            <a href = "" target="_blank">
                <i class = "fa-linkedin" aria-hidden="true"></i>
            </a>
            <div class = "detail hidden-xs hidden-sm">
                <a href = "" target="_blank">LinkedIn</a>
            </div>

            </div>
        </div>

    </div>
</footer> -->