<footer>
    <div class ="container-fluid">
        <div class = "column">
            <ul class = "list-inline">
                <li>Connect</li>
                <li class="list-inline-item"><a  href = "https://www.linkedin.com/in/adrian-kay/" target= "_blank">LinkedIn</a></li>
                <li class="list-inline-item"><a href = "mailto:beguhk@gmail.com"  target= "_blank">Email</a></li>
                <li class="list-inline-item"><a href = "https://www.instagram.com/beguhk/" target= "_blank">Instagram</a></li>
            </ul>
        </div>
        <div class = "column">
            <p>© 2020 Begu</p>
        </div>
    </div>
</footer>
