{% extends 'layout.html' %}
{% block title %} Demo NYC {% endblock %}
{% block head%}
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src="https://api.tiles.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.css"
  type="text/css" />
<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v1.6.0/mapbox-gl.js"></script>
<link href="https://api.tiles.mapbox.com/mapbox-gl-js/v1.6.0/mapbox-gl.css" rel="stylesheet" />
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<style>
  body {
    margin: 0;
    padding: 0;
  }

  #map {
    max-width: 125%;
    height: 700px;
  }

  .legend {
    background-color: rgba(104, 104, 104, 0.85);
    color: azure;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font: 12px/20px 'Poppins', 'sans-serif';
    padding: 10px;
    position: absolute;
    top: 50px;
    left: 10px;
    z-index: 1;
  }

  .legend div span {
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    height: 10px;
    margin-right: 5px;
    width: 10px;
  }

  #TimelineData,
  #DOBData {
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 700px;
    overflow: auto;
  }
</style>
{% endblock%}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-8">
      {% include "site_templates/_collapsebar.html"%}

      <div id="map">
        <button id="map-filter" class="openbtn" onclick="openNav(this.id)">☰ Map Layers</button>
        <button id="envelope" class="openbtn" onclick="openNav(this.id)">☰ Envelope Analysis</button>
        <nav id="menu"></nav>
        <div id="legend" class="legend">
            <h5>Land Use</h5>
            <div><span style="background: hsla(65, 82%, 85%, 0.8)"></span>Residential</div>
            <div><span style="background: hsla(360, 70%, 85%, 0.8)"></span>Commercial</div>
            <div><span style="background: hsla(29, 85%, 65%, 0.3)"></span>Fixed Use</div>
            <div><span style="background: hsla(118, 100%, 80%, 0.8)"></span>Open Space/Parking</div>
            <div><span style="background: hsla(180, 100%, 54%, 0.8)"></span>Vacant Land</div>
            <div><span style="background: hsla(239, 82%, 81%, 0.8)"></span>Others</div>
        </div>
      </div>

    </div>
    <div class="col-12 col-md-4">
      <section>
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-info-tab" data-toggle="tab" href="#nav-info" role="tab"
              aria-controls="nav-info" aria-selected="true">Info</a>
            <a class="nav-item nav-link" id="nav-acris-tab" data-toggle="tab" href="#nav-acris" role="tab"
              aria-controls="nav-acris" aria-selected="false">ACRIS</a>
            <a class="nav-item nav-link" id="nav-dob-tab" data-toggle="tab" href="#nav-dob" role="tab"
              aria-controls="nav-dob" aria-selected="false">DOB</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">
            <div class="content">
              <div id=infoData>Please click on a property to display info</div>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-acris" role="tabpanel" aria-labelledby="nav-acris-tab">
            <div class="content">
              <div id="TimelineData">Please click on a property to display info</div>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-dob" role="tabpanel" aria-labelledby="nav-dob-tab">
            <div class="content">
              <div id="DOBData">Please click on a property to display info</div>
            </div>
          </div>
        </div>
      </section>
      <!-- <pre id="features"></pre> -->
    </div>
  </div>
</div>

<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet"
  href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css" type="text/css" />
<!-- Promise polyfill script required to use Mapbox GL Geocoder in IE 11 -->
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>

<script type="text/javascript">
  function openNav(id) {
    var id = id + '-content'
    document.getElementById(id).style.width = "300px";
    document.getElementById("map").style.marginLeft = "300px";
  }

  function closeNav() {
    document.getElementById("map-filter-content").style.width = "0";
    document.getElementById("envelope-content").style.width = "0";

    document.getElementById("map").style.marginLeft = "0";
  }
  var ACCESS_KEY = "{{ACCESS_KEY}}";
  var script = document.createElement('script');
  script.src = "{{ url_for('static', filename='js/mapbox_load_nyc.js') }}"
  document.getElementsByTagName('script')[0].parentNode.appendChild(script);
</script>
{% endblock %}