{% extends 'layout.html' %}
{% block title %} Demo NYC {% endblock %}
{% block head%}
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v1.6.0/mapbox-gl.js"></script>
<link href="https://api.tiles.mapbox.com/mapbox-gl-js/v1.6.0/mapbox-gl.css" rel="stylesheet" />
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<style>
  body {
    margin: 0;
    padding: 0;
  }

  #map {
    max-width: 100%;
    height: 700px;
  }

  .legend {
    background-color: rgba(104, 104, 104, 0.85);
    color: azure;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font: 12px/20px 'Poppins', 'sans-serif';
    padding: 10px;
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 1;
  }

  .legend div span {
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    height: 10px;
    margin-right: 5px;
    width: 10px;
  }

  #TimelineData,
  #DOBData {
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 700px;
    overflow: auto;
  }

  #menu {
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 190px;
    border-radius: 3px;
    width: 120px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-family: 'Open Sans', sans-serif;
  }

  #menu a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
  }

  #menu a:last-child {
    border: none;
  }

  #menu a:hover {
    background-color: #f8f8f8;
    color: #404040;
  }

  #menu a.active {
    background-color: #3887be;
    color: #ffffff;
  }

  #menu a.active:hover {
    background: #3074a4;
  }
</style>
{% endblock%}

{% block body %}
<div class=container-fluid>
  <div class="row">
    <div class="col-12 col-md-6">
        <div id="map"></div>
        <nav id="menu"></nav>
        <div id="age-legend" class="legend">
            <h5>Land Use</h5>
            <div><span style="background: hsla(65, 82%, 85%, 0.8)"></span>Residential</div>
            <div><span style="background: hsla(360, 70%, 85%, 0.8)"></span>Commercial</div>
            <div><span style="background: hsla(29, 85%, 65%, 0.3)"></span>Fixed Use</div>
            <div><span style="background: hsla(118, 100%, 80%, 0.8)"></span>Open Space/Parking</div>
            <div><span style="background: hsla(180, 100%, 54%, 0.8)"></span>Vacant Land</div>
            <div><span style="background: hsla(239, 82%, 81%, 0.8)"></span>Others</div>
            <!-- <div><span style="background: hsla(0, 0%, 95%, 0.8)"></span>No Data</div> -->
          </div>
          <!-- <div id="zfa-legend" class="legend">
              <h5>Price/ZFA</h5>
              <div><span style="background: rgba(26,152,80,0.8)"></span></div>
              <div><span style="background: rgba(145,207,96,0.8)"></span></div>
              <div><span style="background: rgba(217,239,139,0.8)"></span></div>
              <div><span style="background: rgba(255,255,191,0.8)"></span></div>
              <div><span style="background: rgba(254,224,139,0.8)"></span></div>
              <div><span style="background: rgba(252,141,89,0.8)"></span></div>
              <div><span style="background: rgba(215,48,39,0.8)"></span></div>
            </div> -->
      <!-- <section>
        <nav>
          <div class="nav nav-tabs" id="nav-tab-map" role="tablist">
            <a class="nav-item nav-link active" id="nav-map-tab" data-toggle="tab" href="#nav-map" role="tab"
              aria-controls="nav-map" aria-selected="true">Map</a>
            <a class="nav-item nav-link" id="nav-filtermap-tab" data-toggle="tab" href="#nav-filtermap" role="tab"
              aria-controls="nav-filtermap" aria-selected="false">Map Filters</a>
          </div>
        </nav>
        <div class="tab-pane fade show active" id="nav-map" role="tabpanel" aria-labelledby="nav-map-tab">
          <div id="map"></div>
          <nav id="menu"></nav>
        </div>
      </section>
        <div id="age-legend" class="legend">
          <h5>Land Use</h5>
          <div><span style="background: hsla(65, 82%, 85%, 0.8)"></span>Residential</div>
          <div><span style="background: hsla(360, 70%, 85%, 0.8)"></span>Commercial</div>
          <div><span style="background: hsla(239, 82%, 81%, 0.8)"></span>Others</div>
          <div><span style="background: hsla(118, 100%, 80%, 0.8)"></span>Open Space /Parking</div>
          <div><span style="background: hsla(180, 100%, 54%, 0.8)"></span>Vacant Land</div>
          <div><span style="background: hsla(0, 0%, 95%, 0.8)"></span>No Data</div>
        </div>
        <div id="zfa-legend" class="legend">
          <h5>Price/ZFA</h5>
          <div><span style="background: rgba(26,152,80,0.8)"></span></div>
          <div><span style="background: rgba(145,207,96,0.8)"></span></div>
          <div><span style="background: rgba(217,239,139,0.8)"></span></div>
          <div><span style="background: rgba(255,255,191,0.8)"></span></div>
          <div><span style="background: rgba(254,224,139,0.8)"></span></div>
          <div><span style="background: rgba(252,141,89,0.8)"></span></div>
          <div><span style="background: rgba(215,48,39,0.8)"></span></div>
        </div>
      <div class="tab-pane fade" id="nav-filtermap" role="tabpanel" aria-labelledby="nav-filtermap-tab">Coming Soon
      </div> -->

    </div>
    <div class="col-12 col-md-6">
      <section>
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
              aria-controls="nav-home" aria-selected="true">Info</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
              aria-controls="nav-profile" aria-selected="false">ACRIS</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
              aria-controls="nav-contact" aria-selected="false">DOB</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="content">
              <div id=infoData></div>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="content">
              <pre id="TimelineData"></pre>
              <!-- <pre id = "TimelineTable"></pre> -->
            </div>
          </div>
          <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <div class="content">
              <pre id="DOBData"></pre>
              <!-- <pre id = "TimelineTable"></pre> -->
            </div>
          </div>
        </div>
      </section>
      <!-- <pre id="features"></pre> -->
    </div>
  </div>
</div>

<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js"></script>
<link
rel="stylesheet"
href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css"
type="text/css"
/>
<!-- Promise polyfill script required to use Mapbox GL Geocoder in IE 11 -->
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>

<script type="text/javascript">
  var ACCESS_KEY = "{{ACCESS_KEY}}";
  var script = document.createElement('script');
  script.src = "{{ url_for('static', filename='js/mapbox_load_nyc.js') }}"
  document.getElementsByTagName('script')[0].parentNode.appendChild(script);
</script>
{% endblock %}