{% extends 'layout.html' %}
{% block title %} Services {% endblock %}
{% block body %}
<div class="container">
  <div class="intro border-bottom">
    <h1>Market</h1>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="image-hover">
          <img src="{{ url_for('static', filename='photos/NYC.jpg') }}" alt="Coding" class="image"
            style="width: 100% ; height: auto;">
          <div class="image-middle">
            <a class="image-text" href="nyc">New York City</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="image-hover">
          <img src="{{ url_for('static', filename='photos/HK2.jpg') }}" alt="Coding" class="image"
            style="width: 100% ; height: auto;">
          <div class="image-middle">
            <a class="image-text" href="hk">Hong Kong</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="intro border-bottom">
    <h1>Services</h1>
  </div>
  <!-- </div> -->
  <!-- <div class="row">
        
        <div class="col-12">
            <div class="card">
                <img src="{{ url_for('static', filename='photos/Workflow.png') }}" alt="Workflow"
                    style="width: 100% ; height: auto; padding: 0px 0px;margin: 20px auto;">
            </div>
        </div>
    </div> -->
  <!-- Web-Scrap -->
  <div class="row">
    <div class="col-12 col-md-5">
      <div class="card">
        <div class="image-hover">
          <img src="{{ url_for('static', filename='photos/coding.jpg') }}" alt="Coding" class="image"
            style="width: 100% ; height: auto;">
          <div class="image-middle">
            <div class="image-text">Data Collection</div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-12 col-md-7 d-flex align-items-stretch">
      <div class="card">
        <div class="card-body" style="padding: 75px;">
          <div class="card-text">
            <h3>Data Collection</h3>
            Data is collected from various sources including public and private sectors by
            web-scraping or with public APIs and aggregated for analytics.
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Date Row -->
  <div class="row">
    <div class="col-12 col-md-5">
      <div class="card">
        <div class="image-hover">
          <img src="{{ url_for('static', filename='photos/process-bnw.png') }}" alt="Keyboards" class="image"
            style="width: 100% ; height: auto;">
          <div class="image-middle">
            <div class="image-text">Geo-Coding</div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-12 col-md-7 d-flex align-items-stretch">
      <div class="card">
        <div class="card-body" style="padding: 75px;">
          <div class="card-text">
            <h3>Geo-Coding</h3>
            Geo-Coding is the process to link data to an address or a global coordinate system. This
            adds more context and depth to the data. Driving better analytics and foresight for real
            estate market.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-5">
      <div class="card">
        <div class="image-hover">
          <img src="{{ url_for('static', filename='photos/NYC_hex.JPG') }}" alt="Hex" class="image"
            style="width: 100% ; height: auto;">

          <div class="image-middle">
            <div class="image-text">Geospatial Analytics</div>
          </div>
        </div>
      </div>

    </div>
    <!-- d-flex align-items-stretch -->
    <div class="col-12 col-md-7 d-flex align-items-stretch">
      <div class="card">
        <div class="card-body" style="padding: 75px;">
          <div class="card-text">
            <h3>Geospatial Analytics</h3>
            Geographic Information System (GIS) is used to visualize data through maps to track trends
            and outliers in one single frame.
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}